@font-face {
  font-family: "Splat2";
  src: url(common/assets/fonts/Splatfont2.woff) format("woff"),
  url(common/assets/fonts/Splatfont2.ttf)
}

#logo {
  width: 200px;
  height: auto;
}

html, body {
    height: 100%;
}
body {
    background: #222;
    background-image: url("common/assets/img/ui/bg-primary.jpg");
    margin: 0;
    color: #fff;
    font-family: "Splat2", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-container {
    height: 100%;
    width: 80%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.row {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.language {
  font-size: 32pt;
}

.language a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.language img {
  height: 30px;
  width: auto;
}

.language .row {
  text-align: center;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: #8ffe19;
}
